@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-medium-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
        url("../fonts/montserrat-extrabold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/ebgaramond12-regular-webfont.woff2") format("woff2"),
        url("../fonts/ebgaramond12-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
